body {
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 18px;
    color: blue;
    border-radius: 5px;
    border: 2px solid yellow;
    padding: 10px;
}
